<div class="bg-indigo-950 bg-opacity-30 rounded-xl px-6 py-4 text-md text-neutral-400 font-semibold">
    <ul class="flex flex-col gap-5">
        <li>
            <button type="button" class="flex items-center gap-5 hover:text-neutral-100 transition-colors ease-linear delay-200">
                <fa-icon [icon]="faHome" class="text-xl"></fa-icon>
                Home
            </button>
            
        </li>
        <li>
            <button type="button" class="flex items-center gap-5 hover:text-neutral-100 transition-colors ease-linear delay-200">
                <fa-icon [icon]="faSearch" class="text-xl"></fa-icon>
                Search
            </button>
        </li>
    </ul>
</div>