<div class="flex justify-center items-center gap-6">

    <!-- SHUFFLE -->
    <button class="text-neutral-500 flex justify-center items-center size-6 rounded-full text-lg
        hover:text-neutral-200">
        <fa-icon [icon]="faShuffle"></fa-icon>
    </button>

    <!-- PREVIOUS -->
    <button class="text-neutral-500 flex justify-center items-center size-6 rounded-full text-lg
        hover:text-neutral-200">
        <fa-icon [icon]="faBackwardStep"></fa-icon>
    </button>

    <!-- PLAY -->
    <button class="bg-neutral-200 text-black flex justify-center items-center size-3 p-5 rounded-full">
        <fa-icon [icon]="faPlay"></fa-icon>
    </button>

    <!-- NEXT -->
    <button class="text-neutral-500 flex justify-center items-center size-6 rounded-full text-lg
        hover:text-neutral-200">
        <fa-icon [icon]="faForwardStep"></fa-icon>
    </button>

    <!-- REPEAT -->
    <button class="text-neutral-500 flex justify-center items-center size-6 rounded-full text-lg
        hover:text-neutral-200">
        <fa-icon [icon]="faRepeat"></fa-icon>
    </button>

</div>