<div class="flex justify-center gap-4">

    <span class="text-neutral-500 flex justify-center items-center w-4 h-4 p-5 rounded-full">
        <fa-icon [icon]="faBackwardStep"></fa-icon>
    </span>

    <span class="bg-neutral-500 text-black flex justify-center items-center w-4 h-4 p-5 rounded-full">
        <fa-icon [icon]="faPlay"></fa-icon>
    </span>

    <span class="text-neutral-500 flex justify-center items-center w-4 h-4 p-5 rounded-full">
        <fa-icon [icon]="faForwardStep"></fa-icon>
    </span>

</div>